@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CookBook is a sample application that demonstrates how to create a multi-tier ASP.NET application that runs in an Azure Cloud Service or Web Site.

The application uses SQL Database and Azure storage queues and blobs.</p>
