@{
    ViewBag.Title = "Recipes (Kendo)";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script id="template" type="text/x-kendo-template">
    <a class="k-button" href="\#" onclick="return toolbar_click()">Refresh</a>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#grid").kendoGrid({
            columns: [
                { field: "Title", width: "80px" },
                { field: "Calories", width: "100px" },
                { field: "Description", width: "250px", editor: TextAreaEditor },
                { field: "ThumbnailURL", title: "Thumb", width: "110px", template: '<img src="#=ThumbnailURL#" />' },
                { field: "AdditionDate", title: "Add. Date", format: "{0:MM/dd/yyyy}", width: "110px" },
                { field: "Category", width: "110px", editor: CatComboEditor },
                { field: "CookingTime", title: "Cook Time", width: "110px" },
                { command: "edit", title: "Edit", width: "90px" },
                { command: "destroy", title: "Delete", width: "95px" }
            ],
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 3
            },
            pageSize: 5,
            sortable: true,
            filterable: true,
            editable: "popup",
            toolbar: [
                { template: kendo.template($("#template").html()) }
            ],
            dataSource: {
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                pageSize: 5,
                type: "odata",
                schema: {
                    data: function (response) {
                        if (response.value !== undefined)
                            return response.value;
                        else {
                            delete response["odata.metadata"];
                            return response;
                        }
                    },
                    total: function (response) {
                        return response['odata.count'];
                    },
                    model: {
                        id: "RecipeId",
                        fields: {
                            RecipeId: { editable: false, type: "number" },
                            Title: { type: "string", nullable: false },
                            Calories: { nullable: false, type: "number" },
                            Description: { type: "string" },
                            ThumbnailURL: { type: "string" },
                            AdditionDate: { type: "date" },
                            Category: { type: "string" },
                            CookingTime: { type: "string" }
                        }
                    },
                },
                batch: false,
                error: error,
                transport: {
                    create: {
                        url: "/odata/RecipesOData",
                        contentType: "application/json",
                        type: "POST",
                    },
                    read: {
                        url: "/odata/RecipesOData",
                        dataType: "json",
                        contentType: "application/json",

                    },
                    update: {
                        url: function (record) {
                            return "/odata/RecipesOData" + "(" + record.RecipeId + ")";
                        },
                        dataType: "json",
                        contentType: "application/json",
                        type: "PUT",
                        headers: { Prefer: "return-content" }
                    },
                    destroy: {
                        url: function (record) {
                            return "/odata/RecipesOData" + "(" + record.RecipeId + ")";
                        },
                        contentType: "application/json",
                        type: "DELETE"
                    },
                    parametermap: function (data, operation) {
                        console.log(data);
                        if (operation === "read") {
                            var parammap = kendo.data.transports.odata.parametermap(data);
                            return parammap;
                        }
                        return json.stringify(data);
                    }
                }
            }
        });
    });

    function toolbar_click() {
        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();
    };

    var TextAreaEditor = function (container, options) {
        $('<textarea rows=10 cols=35 data-bind="value: ' + options.field + '"></textarea>').appendTo(container);
    };

    var CatComboEditor = function(container, options) {
        {
            $('<input name="' + options.field + '"/>').appendTo(container)
                .kendoComboBox({
                    dataSource: new kendo.data.DataSource({
                        data: [
                            { Id: "1", title: "Garnish" },
                            { Id: "2", title: "Salad" },
                            { Id: "3", title: "Soup" }
                        ]
                    }),
                    dataValueField: "Id",
                    dataTextField: "title",
                    autobind: false
                });
        }
    };

    //var ImgEditor = function (container, options) {
    //    $('<div class="form-group">' +
    //        '<label class="control-label col-md-2">Thumbnail of current image:</label>' +
    //        '<div class="col-md-10">' +
    //            '<img src="' + options.field + '" />' +
    //        '</div>' +
    //        '<label class="control-label col-md-2" for="imageFile">New image:</label>' +
    //        '<div class="col-md-10">' +
    //            '<input type="file" name="imageFile" accept="image/*" class="form-control fileupload" />' +
    //        '</div>' +
    //    '</div>').appendTo(container);
    //};

    function error(e) {
        if (e.errorThrown === "Bad Request") {
            var response = JSON.parse(e.xhr.responseText);
            console.log(response);
            if (response['odata.error'] != undefined) {
                alert(response['odata.error'].message.value);
            }
        }
        else {
            alert(e.status + ": " + e.errorThrown);
        }
    };
</script>
<div id="grid"></div>